<div class="meal">
    <div class="meal__title">
        <h1>
            <img src="/assets/img/food.svg">
            <ng-container *ngIf="(meal$ | async) as meal;">
                <div *ngIf="!!meal">sssssss</div>
                <span>
                    {{meal ? 'Edit':'Create'}} meal</span>
            </ng-container>

            <!-- <ng-template #title>
                Loading ...
            </ng-template> -->
        </h1>
    </div>
    <div>
        <meal-form (create)="addMeal($event)">
        </meal-form>
    </div>
</div>