<div class="meal">
    <div class="meal__title">
        <h1>
            <img src="/assets/img/food.svg">

            <ng-container *ngIf="(meal$ | async) as meal; then edit ; else create;">

            </ng-container>

            <ng-template #create>
                Create meal
            </ng-template>

            <ng-template #edit>
                Edit meal
            </ng-template>
        </h1>
    </div>
    
    <div>
        <meal-form [meal]="(meal$ | async)"
         (create)="addMeal($event)"
         (update)="updateMeal($event)"
         (remove)="removeMeal($event)"
         >
        </meal-form>
    </div>

<!-- 
    <ng-template #loading>
      
        <div class="message">
            <img src="/assets/img/loading.svg">
            Fetching meal ...
        </div>
    </ng-template> -->
</div>